<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
	default-lazy-init="false">
  	<bean id="mailSender"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="username" value="sfiloveyou" />
		<property name="password" value="19830426" />
		<property name="port" value="465" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
				<prop key="mail.smtp.socketFactory.fallback">false</prop>
			</props>
		</property>
	</bean>
	<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
	    <property name="corePoolSize" value="10"/>
	    <property name="maxPoolSize" value="30"/>
	</bean>
	<bean id="mailService" class="com.dingfan.utils.MailService">
		<property name="mailSender" ref="mailSender" />
		<property name="taskExecutor" ref="taskExecutor"/>
		<property name="from" value="sfiloveyou@gmail.com" />
	</bean>	
	
	<bean id="systemService" class="com.dingfan.service.impl.SystemServiceImpl">
		<property name="userDao" ref="userDao"/>
	</bean>
	
	<bean id="dingFanService" class="com.dingfan.service.impl.DingFanServiceImpl">
		<property name="ordersDao" ref="ordersDao"/>
	</bean>
	
	<bean id="serviceGetter" class="com.dingfan.utils.ServiceGetter">
		<property name="mailService" ref="mailService"/>
		<property name="systemService" ref="systemService"/>
		<property name="dingFanService" ref="dingFanService"/>
	</bean>

</beans>
